
table{
    
    margin-left: auto;
    margin-right: auto;
    border-collapse:collapse ;
}
.firstrow{
background-color: rgb(97, 147, 238);
width:100%;
height: 170px;
}
  #introduction{
      margin-left:100px;
      margin-right:auto ;

    color: cornsilk;
}
.button1{
    margin-top: 10px ;
   
}
#first{
    background-color: rgb(228, 225, 215);
    color:rgb(56, 56, 56);
    border-radius:25px;
    padding:5px;
}
#second{
    margin-left: 5px;
    border-radius:25px;
    padding-left:15px;
    padding-right:15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(33, 80, 33);
    color:white;
}
img{

    border:4px solid white;
}
.column {
    float: left;
    width: 50%;
  }
  .column2{
    margin-right: 300px;
  }
  .work{
    float: left;
    width: 50%;
    padding-right: 300px;
    margin-right:100px ; 
  }
  
  .work2{
      padding-left: 100px;
  }


  progress[value] {
     appearance: none;
  background-color:blue;
    width: 250px;
    height: 20px;
  }

 #box1,#box2 ,#box3 {
border: 2px solid grey  ;
padding:20px;
border-left: 3px solid blue;
  }
  #box4,#box5 ,#box6 {
    border: 2px solid grey  ;
    padding:20px;
    border-left: 3px solid darkgreen;
      }